---
layout: default
---

<div class="home">

  <h2>The <a href="http://concourse.ci">Concourse CI</a> Cookbook</h2>

  <p>
    <img src="https://media.giphy.com/media/ZQMVKzoTLdNBu/giphy.gif" alt="Doing a barrel roll is an example of an aerial maneuver; currently Concourse doesn't support barrel rolls but it should.">
  </p>

  <h2>About</h2>

  <blockquote>
  <p>Concourse is built on a few components, all written in Go with cutesy aerospace-themed names.</p>
  </blockquote>

  <p>Using <a href="http://concourse.ci/">Concourse</a> for your CI needs is overall a wonderful experience due to its <a href="http://concourse.ci/concepts.html">simplicity</a>, scalability, and <a href="http://concourse.ci/concepts.html#resources">integrations via resources</a> ( and the cutesy aerospace-themed names! ). However, it is often tough to go from vision to execution when first getting started with Concourse; the simplicity can feel like a pile of building blocks ready to be moulded into anything!</p>

  <p>This repo hopes to collect some strategies, stories from the trenches, and helpful tips to assist new Concourse users on their flight to the perfect Concourse CI / CD strategy!</p>

  <h2>Recipes</h2>

  <p>There a several key topics which this documentation hopes to cover in-depth, and hopefully the list will grow as more users share their stories and strategies:</p>
  <hr />

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {%if post.category%}<small class="category"> {{post.category}} </small>{% endif %}
            {{ post.title }}
          </a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <hr />

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
